body {
    max-width: 500px;
    min-height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rosybrown;
}

.board__wrapper__row {
    display: flex;
}

.board__cell {
    border: 1px solid black;
    min-width: 40px;
    min-height: 40px;
}