@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --tile-dark:#1e80aa;
    --tile-light: #7dccec;
    --dark-navy: #082a47;
    --grey: #4a4e69;
    --red-highlight: #e63946;
}

body {
    /* min-height: 100vh; */
    background-color: #e9f0ffe9;
    margin: 1rem auto;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    gap: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

header {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-navy);
    font-size: 3rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

dialog {
    border-radius: 10px;
    position:absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0
}

.settings_groups {
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
    color: var(--grey);
    padding: 10px;
    gap: 10px;
    
}

div :is(h2, h3) {
    color: var(--dark-navy);
    margin-bottom: 10px;
}

div > h3 {
    padding-bottom: 10px;
    position: relative;
}

.settings_groups > div {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.settings_groups > div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    transform: scale(8);
    transform-origin: top left;
    border-radius: 70%;
    background-color: #082a4720;
    transition: .6s ease-in;
    z-index: -1;
}

.settings_groups > div:not(:last-child):hover::after {
    border-radius: 0; 
    transform: scale(1);
}

.sliders-group {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.pass-device_notification-group__row {
    font-size: .85rem;
    font-weight: 600;
}

.mode-selection__btn-group {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.mode_btn {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--tile-light);
    border: 2px solid black;
    font-size: .8rem;
}

.mode_btn:hover {
    color: #fff;
}

.play-field {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
}

/* divide style application and use :where to lower css specifity */
.board__wrapper__row:where(:nth-child(even)) > .board__cell:where(:nth-child(odd)) {
    background-color: rgb(30, 128, 170);
}

.board__wrapper__row:where(:nth-child(odd)) > .board__cell:where(:nth-child(even)) {
    background-color: rgb(30, 128, 170);
}

.board__wrapper__row:where(:nth-child(even)) > .board__cell:where(:nth-child(even)) {
    background-color: rgb(125, 204, 236);
}

.board__wrapper__row:where(:nth-child(odd)) > .board__cell:where(:nth-child(odd)) {
    background-color: rgb(125, 204, 236);
}

 .board__wrapper__row {
    display: flex;
}

.board__cell {
    border: .5px solid rgba(255, 255, 255, 0.938);
    border-collapse:separate;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
} 

.board__cell:hover,
.board__cell:hover::before,
.board__cell:hover::after {
    background-color: rgb(15, 103, 255) !important;
}

.board__cell.miss {
    background-color: lightgreen !important;
}
 /* using board__wrapper_row selector and :is to make specifity higher */
.board__cell:is(.hit, .sunk) {
    background-color: rgb(210, 91, 131) !important;
}

.board__cell.ship-placed {
    background-color: rgb(198, 198, 198);
}

button:disabled {
    cursor: auto;
}

.ship-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ship {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: fit-content;
}

.ship-cell {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    cursor: pointer;
    background-color: lightgrey;
}

.ship-cell.active {
    background-color: rgb(158, 158, 158);
  }

  .blocked {
    background-color: rgb(65 127 99 / 50%) !important;
  }